<link rel="noopener noreferrer">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-item"></div>

    <div class="navbar-brand">
        <a class="navbar-item" href="https://www.instagram.com/nounkieshop/" target="_blank">
            <img src="../../assets/img/new_logo.jpg">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar" >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

        <div class="navbar-item"></div>

        <a class="navbar-item" routerLink="/home" routerLinkActive="is-active">
            Home
        </a>
    
        <a class="navbar-item" href="https://www.etsy.com/nl/shop/Nounkie" target="_blank">
            Webshop
        </a>

        <a class="navbar-item" href="https://www.instagram.com/nounkieshop/" target="_blank">
            Instagram
        </a>
    
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
            More
            </a>
    
            <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="about-me" routerLinkActive="is-active">
                About Me
            </a>

            <a class="navbar-item" routerLink="contact" routerLinkActive="is-active">
                Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
                Report an issue
            </a>
            </div>
        </div>
        </div>
    </div>
</nav>